/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --bg-lightblue: #255ee9;
    --bg-dark: #23272a;
    --color-text: #000000;
    --bg-white: #ffffff;
    --bg-grey: #f5f5f5;
    --bg-btn: #7289da;
}  
body{
    background-color: var(--bg-white);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.u-line:hover{
    text-decoration: underline;
}
h1{
    padding: 150px 0px 30px 0px;
    font-size: 3.5rem;
    color: #ffffff;
    text-align: center;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
/* /General */

/* Utility */

.container{
    max-width: 1400px;
    margin: 0 auto;
}
.debug{
    border: 1px solid black;
}

.display-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.d-col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-bg-white{
    background-color: var(--bg-white);
    color: var(--color-text);
    
}
.btn-color-white{
    color: var(--bg-white);
}
.btn-color-dark{
    color: var(--color-text);
}
.btn-size{
    border-radius: 14px;
    font-size: 1rem;
    padding:  5px 10px 5px 10px;
}
.text-center{
    text-align: center;
}
/* /Utility */

/*header*/

/* navbar */

.navbar-bg{
    background-color: var(--bg-lightblue);
    padding-top: 20px;
}
#hero{
    background-image: url("../img/jumbo.png");
    min-height: 600px;
    background-size: cover;
    background-position: center;
}
.text-link-white{
    color: var(--bg-white);
    padding: 5px 25px 5px 25px;
}

/* section navbar */
 .text-nav{
    color: var(--bg-white);
    text-align: center;
    line-height: 1.5rem;
    font-size: 16px;
 }
 .box-header{
    display: flex;
    max-width: 700px;
    flex-direction: column;
}
.btn-position{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items:flex-end;
    padding-top: 1.2rem;
   
}
.btn-download-mac, .btn-browser{
    font-size: 1.2rem;
}
.btn-download-mac{
    background-color: var(--bg-white);
}
.btn-browser{
    background-color: var(--bg-dark);
}
/* /section navbar*/

/* /navbar */

/* /header */

/* main */

.img-left{
    width: 100%;
}

.left{
    width: 65%;
}

.right{
    width: 35%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.text-right{
    text-align: left;
    
}
.text-dark{
    padding-top: 2rem;
    color: var(--color-text);
    font-size: 1.3rem;
}
.reverse{
    flex-direction: row-reverse;
}

/* Start wave setting*/
.wave{
    transform: rotate(180deg);
}
.color-wave{
    opacity:0.04;
    display: flex;
    
}
/* /wave setting*/
.m-top{
    margin-top: 80px;
}
.bg-s-grey{
    background-color: var(--bg-grey);
}
.p-100{
padding-top: 100px;
}
.bg-img-star{
    
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.p-30-40-0-40{
    padding: 30px 40px 0px 40px;
    text-align: center;
}
.m-bot{
    margin-bottom: 100px;
}
.btn-download-windows{
    background-color: #7289da;
}

/* /main */

/*footer*/
 .ft-bg{
    background-color: var(--bg-dark);
 }
/*footer*/


